.content {
    text-align: left;
    transition: all 1.2s;
    &.esports {
        .head .subject {
            color: #7a29ca;
        }
        .head .delete {
            border-color: #7a29ca;
            color: #7a29ca;
        }
    }
    &.football {
        .head .subject {
            color: #ed9d1e;
        }
        .head .delete {
            border-color: #ed9d1e;
            color: #ed9d1e;
        }
    }
    &.soccer {
        .head .subject {
            color: #2ae79d;
        }
        .head .delete {
            border-color: #2ae79d;
            color: #2ae79d;
        }
    }
    &.undefined {
        .head {
            margin-bottom: 10px;
            .title {
                height: 40px;
                background: #2d2535;
                width: 200px;
                border-radius: 4px;
                opacity: 0.6;
                margin-bottom: 10px;
            }
            .subject, .timer {
                height: 12px;
                background: #2d2535;
                width: 60px;
                border-radius: 4px;
                opacity: 0.6;
            }
            .subject {
                top: 10px;
            }
            .delete {
                display: none;
            }
        }
        .text {
            height: 80px;
            background: #2d2535;
            width: 100%;
            border-radius: 4px;
            opacity: 0.6;
            margin-bottom: 10px;
        }
        .instructions {
            display: block;
            color: #403649;
            font-style: italic;
            font-size: 16px;
        }
    }
    .head {
        position: relative;
        z-index: 10;
        padding-top: 30px;
        .subject {
            font-size: 160px;
            font-weight: 800;
            font-style: italic;
            line-height: 0.425;
            position: absolute;
            top: -22px;
            left: 0;
            z-index: 7;
        }
        .title {
            font-size: 60px;
            font-weight: 800;
            color: #fff;
            line-height: 1.133;
            position: relative;
            z-index: 8;
        }
        .timer {
            font-size: 14px;
            color: #544b5e;
            line-height: 4.857;
        }
        .delete {
            position: absolute;
            top: 0;
            right: 0;
            background: transparent;
            border: 2px solid #544b5e;
            color: #544b5e;
            border-radius: 50px;
            height: 30px;
            width: 30px;
            line-height: 38px;
            text-align: center;
            cursor: pointer;
        }
    }
    .text {
        white-space: pre-wrap;
        font-size: 16px;
        color: #90849d;
        line-height: 1.5;
        text-align: justify;          
    }
    .instructions {
        display: none;
    }
}