.app {
  text-align: center;
  background-color: #1b1620;
  min-height: 100vh;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  margin-bottom: 100px;
  margin-top: 60px;
  width: 100%;
  max-width: 500px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
    li {
      display: block;
      a {
        color: #ab91c4;
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
}

.stars {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 1px;
  height: 1px;
  .star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: #574b64;
    animation: 24s star 0s linear infinite;
  }
  .star:nth-child(odd) {
    animation-direction: reverse;
  }
  @for $i from 1 through 200 {
    .star:nth-child(#{$i}) {
      top: random(400) - 100 + px;
      left: random(100) - 100 + vw;
    }
  }
}

@keyframes star {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0px, 10px);
  }
  50% {
    transform: translate(10px, -10px);
  }
  70% {
    transform: translate(-20px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}